<li>
		{{#unless eaten}}
    <div class="col-xs-2">
      {{name}}
        <button class="btn btn-secondary eat-burger btn-sm" data-id="{{id}}">Eat it!</button><input class="text-input" type="text" id="burger-{{id}}" placeholder="Your name...">
        </div>
        {{/unless}}
        {{#if eaten}}
        {{name}} - Eaten by {{eaten_by}}
        {{/if}}
</li>
